.navbar{
    display: flex;
    height: 74px;
    padding: 0px 32px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
}

.logo{
    color: var(--color-white);
    font-size:larger;
}

.cartbtn{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
        background-color: var(--color-primary);
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
       
}

img{
    width: 50px;
    height: 40px;
}

