:root{
  --color-primary : #999DA0;
  --color-white:#fff;
  --color-black:#121212;
}

*{
  margin:0;
}

html,body{
  height: 100%;
}

body{
  font-family: "Poppins",sans-serif;
  overflow-x: hidden;
}